[Unit]
Description=HAOS swap
DefaultDependencies=no
Requires=etc-default.mount mnt-data.mount
After=etc-default.mount mnt-data.mount

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/libexec/haos-swapfile
ExecStop=swapoff /mnt/data/file.swap

[Install]
WantedBy=swap.target
