[Unit]
Description=HAOS swap
DefaultDependencies=no
Requires=etc-default.mount mnt-data.mount
After=etc-default.mount mnt-data.mount
Before=mnt-data-file.swap

[Service]
Type=oneshot
ExecStart=/usr/libexec/haos-swapfile

[Install]
WantedBy=swap.target
